/*En esta sección estan los componetes que atribullen aun cabio en los atributos del body.*/
body{
    font-family: Calibri, Roboto, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.Contenedor_Cuadricula_General{
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 9fr;
}
/*-------------------------------------------------------------------------------------*/

/*Elementos de deseño que pertenecen a la sucuadricilas uno, dos y tres*/

.Contenedor_Subcuadricula_Uno{
    grid-column: 1/2;
    grid-row: 1/3;
    background: rgb(31, 147, 255);
    

}

.Contenedor_Subcuadricula_Dos{
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    background: rgb(255, 255, 255);
    margin-left: 10px;
}

.Contenedor_Subcuadricula_Tres{
    grid-column: 2/3;
    grid-row: 2/3;
    background: lime;
}
/*-------------------------------------------------------------------------------------*/

/*Elementos de diseño que compoenen los elementos de la cuadricula uno*/
.Contenedor_Subcuadricula_Uno{
    grid-template-rows: 0.4fr  1fr 5fr;
}

.Contenedor_Elemento_Logotipo{
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-rows: 1fr;
    align-items: start;
}

.Contenedor_Elementos_De_Servicio_Barra{
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-rows: repeat(5, minmax(min-content, 1fr)) 1.3fr;
    align-items: start;
}

.Contenedor_Elementos_De_Configuracion_Y_Soporte_Barra{
    grid-column: 1/2;
    grid-row: 3/4;
    grid-template-rows: repeat(3, max-content );
    align-items: start;
}

.Contenedor_Subcuadricula_Uno > div{
    padding: 2px;
}

.Contenedor_Subcuadricula_Uno > div > div{
    padding-left: 30px;
    margin-top: 14px;
    align-items: center;
    justify-content: center;
}

.Contenedor_Subcuadricula_Uno > div > div > div{
    margin-right: 15px;
}

.Contenedor_Elementos_De_Servicio_Barra > div > div,
.Contenedor_Elementos_De_Configuracion_Y_Soporte_Barra > div > div{
    margin-left: 13px;
}

.Contenedor_Principal_Logotipo{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorIconLogoPagina{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTxtIconLogoPagina{
    grid-column: 2/3;
    grid-row: 1/2;
}

.Contenedor_Principal_home{
    grid-column: 1/2;
    grid-row: 1/2;
}

.Contenedor_Principal_profile{
    grid-column: 1/2;
    grid-row: 2/3;
}

.Contenedor_Principal_Messages{
    grid-column: 1/2;
    grid-row: 3/4;
}

.Contenedor_Principal_History{
    grid-column: 1/2;
    grid-row: 4/5;
}

.Contenedor_Principal_Tasks{
    grid-column: 1/2;
    grid-row: 5/6;
}

.Contenedor_Principal_Communities{
    grid-column: 1/2;
    grid-row: 6/7;
}

.ContenedorIconHome{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTextHome{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorIconprofile{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTextProfile{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorIconMessages{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTextMessages{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorIconHistory{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTextHistory{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorIconTasks{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTextTasks{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorIconCommunities{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTextComunities{
    grid-column: 2/3;
    grid-row: 1/2;
}

.Contenedor_Principal_Settings{
    grid-column: 1/2;
    grid-row: 1/2;
}

.Contenedor_Principal_Support{
    grid-column: 1/2;
    grid-row: 2/3;
}

.Contenedor_Principal_Privacy{
    grid-column: 1/2;
    grid-row: 3/4;
}

.ContenedorIconSettings{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTextSettings{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorIconSupport{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTextSupport{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorIconPrivacy{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTextPrivacy{
    grid-column: 2/3;
    grid-row: 1/2;
}
/*-------------------------------------------------------------------------------------*/

/*Elementos de diseño que compoenen los elementos de la cuadricula dos*/

.Contenedor_Barra_De_Busqueda_Y_Notificacion{
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
    padding: 2px;
}

.Contenedor_BarraUsuario_Y_Botones_De_Posteo{
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 100%;
    align-content: center;
    padding: 2px;
}

.ContenedorPrincipalBarraDeBusqueda{
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 1fr 9fr;
}

.ContenedorPrincipalNotificacion{
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
}

.ContenedorPrincipalBotonesDePosteo{
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.ContenedorPrincipalBarraUsuario{
    grid-template-rows: 100%;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

.ContenedorHiUser{
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-rows: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
}

.ContenedorIconBusqueda{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
}

.ContenedorIconNotificacion{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorLogoUsuario{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorNombreUsuario{
    grid-column: 3/4;
    grid-row: 1/2;
}

.ContenedorBarraDeBusqueda{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-left: 10px;
}

.ContenedorLogoUsuairio{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
}

.ContenedorTxtHiUser{
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
}

.ContenedorTxtHiUserName{
    grid-column: 1/2;
    grid-row: 2/3;
}

.ContenedorBotonNew{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorBotonUpload{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorBotonShare{
    grid-column: 3/4;
    grid-row: 1/2;
}

#Search{
    border-radius: 10px;
    border: none;
    width: 90%;
    height: 80%;
    background: rgb(213, 227, 235);
}

.ContenedorPrincipalNotificacion > div{
    margin: 2px 10px;
}
/*-------------------------------------------------------------------------------------*/

/*Elementos de diseño que compoenen los elementos de la cuadricula tres*/

.Contenedor_Subcuadricula_Tres{
    grid-template-columns: 2fr 1fr;
}

.Contenedor_Principal_Proyectos{
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr;
}

.Contenedor_Announcements_Y_Treding{
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-rows: 1fr 1fr;
}

.ContenedorProyectos{
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.ContenedorAnnouncements{
    grid-template-rows: 1fr 5fr;
}

.ContenedorTextosAnnouncements{
    grid-template-rows: 1fr 1fr 1fr;
}

.ContenedorTreding{
    grid-template-rows: 1fr 5fr;
}

.ContenedorPerfilesTreding{
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-rows:1fr 1fr 1fr 1fr;
}

.ContenedorTituloDelContenodorProyectos{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorProyect1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorProyect2{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorProyect3{
    grid-column: 1/2;
    grid-row: 2/3;
}

.ContenedorProyect4{
    grid-column: 2/3;
    grid-row: 2/3;
}

.ContenedorProyect5{
    grid-column: 1/2;
    grid-row: 3/4;
}

.ContenedorProyect6{
    grid-column: 2/3;
    grid-row: 3/4;
}

.Contenedor_Subcuadricula_Tres > div{
    border: 2px solid orange;
    padding: 2px;
}

.Contenedor_Subcuadricula_Tres > div > div{
    border: 2px solid red;
    padding: 2px;
}

.Contenedor_Subcuadricula_Tres > div > div > div{
    border: 2px solid green;
    padding: 2px;
}

.Contenedor_Subcuadricula_Tres > div > div > div > div{
    border: 2px solid white;
    padding: 2px;
}

.Contenedor_Subcuadricula_Tres > div > div > div > div > div{
    border: 2px solid blue;
    padding: 2px;
}

.Contenedor_Subcuadricula_Tres > div > div > div > div > div > div{
    border: 2px solid darkslategray;
    padding: 2px;
}

.ContenedorProyectos{
    gap: 15px;
}

.ContenedorBackgroundOrage{
    grid-column: 1/2;
    grid-row: 1/2;
    background: orange;
}

.Contenefor_InfoProyect{
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.Contenedor_TitleInfoProyect{
    grid-column: 1/2;
    grid-row: 1/2;
}

.Contenedor_TextInfoProyect{
    grid-column: 1/2;
    grid-row: 2/3;
}

.Contenedor_IconsDeInterecaccionProyect{
    grid-column: 1/2;
    grid-row: 3/4;
}

.Contenedor_IconsDeInterecaccionProyect{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.Conteneor_IconPreferido{
    grid-column: 1/2;
    grid-row: 1/2;
}

.Contenefor_IconVerMas{
    grid-column: 2/3;
    grid-row: 1/2;
}

.Contenedor_IconCompartir{
    grid-column: 3/4;
    grid-row: 1/2;
}

.ContenedorTxtSiteMaintenance{
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}

.ContendorTitle{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorText{
    grid-column: 1/2;
    grid-row: 2/3;
}

.ContenedorTxtCommunityShareDay{
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}

.UpDatedPrivacyPolicy{
    grid-column: 1/2;
    grid-row: 3/4;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}

.ContenedorTxtTreding{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTredingPerfil1{
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

.ContenedorTredingPerfil2{
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

.ContenedorTredingPerfil3{
    grid-column: 1/2;
    grid-row: 3/4;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

.ContenedorTredingPerfil4{
    grid-column: 1/2;
    grid-row: 4/5;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
}

.ContenedorIconLogoUser2{
    grid-column: 1/2;
    grid-row: 1/2;
}

.Contenedor_PerfilesTrending{
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.Contenedor_TitlePerfilUserTrending{
    grid-column: 1/2;
    grid-row: 1/2;
}

.Contenedor_HistoryTextPerfilUserTrending{
    grid-column: 1/2;
    grid-row: 2/3;
}

.ContenedorTituloDelContenodorProyectos{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorProyect1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorProyect2{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorProyect3{
    grid-column: 1/2;
    grid-row: 2/3;
}

.ContenedorProyect4{
    grid-column: 2/3;
    grid-row: 2/3;
}

.ContenedorProyect5{
    grid-column: 1/2;
    grid-row: 3/4;
}

.ContenedorProyect6{
    grid-column: 2/3;
    grid-row: 3/4;
}

.Contenedor_Subcuadricula_Tres > div{
    border: 2px solid orange;
    padding: 2px;
}

.Contenedor_Subcuadricula_Tres > div > div{
    border: 2px solid red;
    padding: 2px;
}

.Contenedor_Subcuadricula_Tres > div > div > div{
    border: 2px solid green;
    padding: 2px;
}

.Contenedor_Subcuadricula_Tres > div > div > div > div{
    border: 2px solid white;
    padding: 2px;
}

.Contenedor_Subcuadricula_Tres > div > div > div > div > div{
    border: 2px solid blue;
    padding: 2px;
}

.Contenedor_Subcuadricula_Tres > div > div > div > div > div > div{
    border: 2px solid darkslategray;
    padding: 2px;
}

.ContenedorProyectos{
    gap: 15px;
}

.ContenedorBackgroundOrage{
    grid-column: 1/2;
    grid-row: 1/2;
    background: orange;
}

.Contenefor_InfoProyect{
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.Contenedor_TitleInfoProyect{
    grid-column: 1/2;
    grid-row: 1/2;
}

.Contenedor_TextInfoProyect{
    grid-column: 1/2;
    grid-row: 2/3;
}

.Contenedor_IconsDeInterecaccionProyect{
    grid-column: 1/2;
    grid-row: 3/4;
}

.Contenedor_IconsDeInterecaccionProyect{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.Conteneor_IconPreferido{
    grid-column: 1/2;
    grid-row: 1/2;
}

.Contenefor_IconVerMas{
    grid-column: 2/3;
    grid-row: 1/2;
}

.Contenedor_IconCompartir{
    grid-column: 3/4;
    grid-row: 1/2;
}
/*-------------------------------------------------------------------------------------*/

/*En este espasio se manejan las dimenciones y colores de las imagenes*/
.icon{
    width: 35px;
    filter: invert(100%);
}

.iconLogo{
    width: 60px;
    filter: invert(100%);
}

.icons_2{
    width: 20px;
}

.icons_3{
    width: 20px;
}

.icons_4{
    width: 30px;
}

.icons_LogoUser{
    width: 25px;
}

.icons_LogoUser_MoreTall{
    width: 60px;
}
/*----------------------------------------------------------------------*/

/*Tamaño y estilo de la tipografica*/

.TitleLogoTipo,
.TextBarraLateral{
    font-family: monospace;
    font-weight: 900;
    padding-bottom: 2px;
}

.TextBarraLateral{
    font-size: 1.5em;
    color: white;
}

.TitleLogoTipo{
    font-size: 1.8em;
    color: white;
}

.TexthiUser{
    margin-bottom: 0;
    font-size: 1.2rem;
}

.TexthiUserMoreNameUser{
    margin-top: 0;
    font-size: clamp(16px, 1.5rem, 1.8rem);
}

/*---------------------------------------------------------------------*/
/*Botones*/
.ContenedorPrincipalBotonesDePosteo > div{
    margin: 0 5px;
}

button{
    border-radius: 20px;
    border: none;
    background: rgb(31, 147, 255);
    outline: none;
    color: white;
    width: 100%;
    height: 35px;
    font-size:  clamp(16px, 1.2rem, 1.5rem);
}

button:hover{
    background: rgb(255, 255, 255);
    color: black;
    border: 0.1px solid black;
}

button:active{
    background: rgb(120, 255, 120);
    color: green;
}
/*---------------------------------------------------------------------*/

/*En esta sección se manejan todos los selectores que tiene atributos compartidos.*/
.Contenedor_Principal_Logotipo,
.Contenedor_Principal_home,
.Contenedor_Principal_profile,
.Contenedor_Principal_Messages,
.Contenedor_Principal_History,
.Contenedor_Principal_Tasks,
.Contenedor_Principal_Communities,
.Contenedor_Principal_Settings,
.Contenedor_Principal_Support,
.Contenedor_Principal_Privacy{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.ContenedorProyect1,
.ContenedorProyect2,
.ContenedorProyect3,
.ContenedorProyect4,
.ContenedorProyect5,
.ContenedorProyect6{
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr;
}

.Contenedor_Subcuadricula_Uno,
.Contenedor_Elementos_De_Configuracion_Y_Soporte_Barra,
.Contenedor_Elementos_De_Servicio_Barra,
.Contenedor_Elemento_Logotipo,
.Contenedor_Cuadricula_General,
.Contenedor_Subcuadricula_Dos,
.Contenedor_Barra_De_Busqueda_Y_Notificacion,
.Contenedor_BarraUsuario_Y_Botones_De_Posteo,
.ContenedorPrincipalNotificacion,
.ContenedorPrincipalBotonesDePosteo,
.ContenedorHiUser,
.ContenedorPrincipalBarraDeBusqueda,
.ContenedorPrincipalBarraUsuario,
.Contenedor_Subcuadricula_Tres,
.Contenedor_Principal_Proyectos,
.Contenedor_Announcements_Y_Treding,
.ContenedorProyectos,
.ContenedorAnnouncements,
.ContenedorTextosAnnouncements,
.ContenedorTreding,
.ContenedorPerfilesTreding,
.Contenefor_InfoProyect,
.Contenedor_IconsDeInterecaccionProyect,
.ContenedorTxtSiteMaintenance,
.ContenedorTxtCommunityShareDay,
.UpDatedPrivacyPolicy,
.ContenedorTredingPerfil1,
.ContenedorTredingPerfil2,
.ContenedorTredingPerfil3,
.ContenedorTredingPerfil4,
.Contenedor_PerfilesTrending{
    display: grid;
}
/*-------------------------------------------------------------------------------------*/
