/*En esta sección estan los componetes que atribullen aun cabio en los atributos del body.*/
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Contenedor_Cuadricula_General{
    height: 100vh;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}
/*-------------------------------------------------------------------------------------*/

/*En esta sección se manejan todos los selectores que tiene atributos compartidos.*/
.Contenedor_Principal_Logotipo,
.Contenedor_Principal_home,
.Contenedor_Principal_profile,
.Contenedor_Principal_Messages,
.Contenedor_Principal_History,
.Contenedor_Principal_Tasks,
.Contenedor_Principal_Communities,
.Contenedor_Principal_Settings,
.Contenedor_Principal_Support,
.Contenedor_Principal_Privacy,
.ContenedorPrincipalBarraUsuario{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.Contenedor_Subcuadricula_Uno,
.Contenedor_Elementos_De_Configuracion_Y_Soporte_Barra,
.Contenedor_Elementos_De_Servicio_Barra,
.Contenedor_Elemento_Logotipo,
.Contenedor_Cuadricula_General,
.Contenedor_Subcuadricula_Dos,
.Contenedor_Barra_De_Busqueda_Y_Notificacion,
.Contenedor_BarraUsuario_Y_Botones_De_Posteo,
.ContenedorPrincipalNotificacion,
.ContenedorPrincipalBotonesDePosteo,
.ContenedorHiUser,
.ContenedorPrincipalBarraDeBusqueda{
    display: grid;
}
/*-------------------------------------------------------------------------------------*/

/*Elementos de deseño que pertenecen a la sucuadricilas uno, dos y tres*/
.Contenedor_Cuadricula_General > div{
    border: 2px solid black;
    margin: 1px;
    padding: 2px;
}

.Contenedor_Subcuadricula_Uno{
    grid-column: 1/2;
    grid-row: 1/3;
    background: rgb(132, 0, 255);

}

.Contenedor_Subcuadricula_Dos{
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-rows: 1fr 1fr;
    background: aqua;
}

.Contenedor_Subcuadricula_Tres{
    grid-column: 2/3;
    grid-row: 2/3;
    background: lime;
}
/*-------------------------------------------------------------------------------------*/

/*Elementos de diseño que compoenen los elementos de la cuadricula uno*/
.Contenedor_Subcuadricula_Uno{
    grid-template-rows: 1fr 3fr 3fr;
}

.Contenedor_Elemento_Logotipo{
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-rows: 1fr;
}

.Contenedor_Elementos_De_Servicio_Barra{
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Contenedor_Elementos_De_Configuracion_Y_Soporte_Barra{
    grid-column: 1/2;
    grid-row: 3/4;
    grid-template-rows: 1fr 1fr 1fr;
}

.Contenedor_Subcuadricula_Uno > div{
    border: 2px solid orange;
    padding: 2px;
}

.Contenedor_Subcuadricula_Uno > div > div{
    border: 2px solid red;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
}

.Contenedor_Subcuadricula_Uno > div > div > div{
    border: 2px solid green;
    align-items: center;
    justify-content: center;
}

.Contenedor_Principal_Logotipo{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorIconLogoPagina{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTxtIconLogoPagina{
    grid-column: 2/3;
    grid-row: 1/2;
}

.Contenedor_Principal_home{
    grid-column: 1/2;
    grid-row: 1/2;
}

.Contenedor_Principal_profile{
    grid-column: 1/2;
    grid-row: 2/3;
}

.Contenedor_Principal_Messages{
    grid-column: 1/2;
    grid-row: 3/4;
}

.Contenedor_Principal_History{
    grid-column: 1/2;
    grid-row: 4/5;
}

.Contenedor_Principal_Tasks{
    grid-column: 1/2;
    grid-row: 5/6;
}

.Contenedor_Principal_Communities{
    grid-column: 1/2;
    grid-row: 6/7;
}
/*-------------------------------------------------------------------------------------*/

/*Elementos de diseño que compoenen los elementos de la cuadricula dos*/

.Contenedor_Barra_De_Busqueda_Y_Notificacion{
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 4fr 1fr;
}

.Contenedor_BarraUsuario_Y_Botones_De_Posteo{
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr;
}
.ContenedorPrincipalBarraDeBusqueda{
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 1fr 5fr;
}
.ContenedorPrincipalNotificacion{
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-columns: 1fr 1fr 3fr;
}

.ContenedorPrincipalBotonesDePosteo{
    grid-template-columns: 1fr 1fr 1fr;
}

.ContenedorHiUser{
    grid-column: 2/3;
    grid-row: 1/2;
    grid-template-rows: 1fr 1fr;
}

.ContenedorIconBusqueda{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorIconNotificacion{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorLogoUsuario{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorNombreUsuario{
    grid-column: 3/4;
    grid-row: 1/2;
}

.ContenedorBarraDeBusqueda{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorLogoUsuairio{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTxtHiUser{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorTxtHiUserName{
    grid-column: 1/2;
    grid-row: 2/3;
}

.ContenedorBotonNew{
    grid-column: 1/2;
    grid-row: 1/2;
}

.ContenedorBotonUpload{
    grid-column: 2/3;
    grid-row: 1/2;
}

.ContenedorBotonShare{
    grid-column: 3/4;
    grid-row: 1/2;
}
.Contenedor_Subcuadricula_Dos > div{
    border: 2px solid orange;
    padding: 2px;
}

.Contenedor_Subcuadricula_Dos > div > div{
    border: 2px solid red;
    padding: 2px;
}

.Contenedor_Subcuadricula_Dos > div > div > div{
    border: 2px solid green;
    padding: 2px;
}

.Contenedor_Subcuadricula_Dos > div > div > .ContenedorHiUser > div{
    border: 2px solid white;
    padding: 2px;
}
/*-------------------------------------------------------------------------------------*/

/*Elementos de diseño que compoenen los elementos de la cuadricula tres*/
.Contenedor_Subcuadricula_Tres{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Contenedor_Principal_Proyectos{
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.Contenedor_Announcements_Y_Treding{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.ContenedorProyectos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.ContenedorAnnouncements{
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.ContenedorTextosAnnouncements{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.ContenedorTreding{
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.ContenedorPerfilesTreding{
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
}
/*-------------------------------------------------------------------------------------*/

/*En este espasio se manejan las dimenciones y colores de las imagenes*/
.icon{
    width: 30px;
}

.iconLogo{
    width: 40px;
}

.icons_2{
    width: 20px;
}

.icons_LogoUser{
    width: 30px;
}

.icons_LogoUser_MoreTall{
    width: 60px;
}
/*----------------------------------------------------------------------*/

/*Tamaño y estilo de la tipografica*/

/*---------------------------------------------------------------------*/
