body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

div{
    border: 2px solid red;
}

.Contenedor_Cuadricula_General{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}

.Contenedor_Subcuadricula_Uno{
    grid-column: 1/2;
    grid-row: 1/3;
    background: rgb(132, 0, 255);
}

.Contenedor_Subcuadricula_Dos{
    grid-column: 2/3;
    grid-row: 1/2;
    background: aqua;
}

.Contenedor_Subcuadricula_Tres{
    grid-column: 2/3;
    grid-row: 2/3;
    background: lime;
}

.Contenedor_Subcuadricula_Uno{
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
}

.Contenedor_Subcuadricula_Dos{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.Contenedor_Subcuadricula_Tres{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Contenedor_Elementos_De_Servicio_Barra{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Contenedor_Elementos_De_Configuracion_Y_Soporte_Barra{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.Contenedor_Barra_De_Busqueda_Y_Notificacion{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.Contenedor_BarraUsuario_Y_Botones_De_Posteo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Contenedor_Principal_Proyectos{
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.Contenedor_Announcements_Y_Treding{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.Contenedor_Principal_home,
.Contenedor_Principal_profile,
.Contenedor_Principal_Messages,
.Contenedor_Principal_History,
.Contenedor_Principal_Tasks,
.Contenedor_Principal_Communities,
.Contenedor_Principal_Settings,
.Contenedor_Principal_Support,
.Contenedor_Principal_Privacy{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.ContenedorPrincipalBarraDeBusqueda,
.ContenedorPrincipalBarraUsuario{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.ContenedorPrincipalNotificacion{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.ContenedorPrincipalBotonesDePosteo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}